<header class="border">
    <nav>
     <!-- <a routerLink="/home">Home</a> -->
      <!-- <a routerLink="/user-list">Users</a> -->
      <a routerLink="/list-product">Patinet List</a>
      <!-- <a routerLink="/about">About</a> -->
      <!-- <a routerLink="/contact">Contact</a> -->
  
  
      <!-- <label class="switch">
        <input type="checkbox"  id="dark-mode-toggle">
        <span class="slider round"></span>
      </label> -->
      <a routerLink="/contact" click="onLogOut()">LogOut</a>
  
    </nav>
  
  
  </header>